//haz que todos los paneles sean fullpage
.panel{
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    z-index: 1000;
}

//primer panel fijo
.panel__fijo{
    height: 100%;
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    /*evita que el panel se superponga*/
    z-index: -99;
}


.panel__sticky{ /*HAY QUE CAMBIAR EL Z-INDEX DE ESTOS PANELES EN CADA ID PARA EVITAR EL OVERLAP*/
    height: 100%;
    color: white;

}
