html{
    font-size: 10px;

    -moz-text-stroke: 0.5px;
    -moz-text-stroke-color: same color as text;

}

.justify{
    text-align: justify;
}

.hero{
    &__texto{
        white-space: nowrap;
    }

    &__titulo{
        @include bebas-m;
        color: black;
    }

    &__subtitulo-1{
        @include bebas-s;
        color: black;
    }

    &__subtitulo-2{
        @include bebas-texto;
        color: black;
    }

    //HOME
    &__texto-1{
        @include bebas-2xl;
        color: black;
        font-size: 14.757481940144478vh;
    }
    &__texto-2{
        @include bebas-s;
        color: black;
        font-size: 5.159958720330238vh;
    }
    &__texto-3{
        @include montserrat-texto;
        color: black;
        font-size: 2.6vh;
    }
    &__boton-1{
        @include bebas-l;
        font-size: 9vh;
    }
    &__boton-2{
        @include bebas-m;
        font-size: 7vh;
        margin: 5px; 
    }
    &__parrafo-1{
        @include montserrat-sm-texto;
        line-height: 2rem;
    }
}

.articulo{
    &__titulo{
        @include bebas-m;
        color: black;
    }
    &__subtitulo-1{
        @include bebas-xs;
        color: black;
    }

    &__subtitulo-2{
        @include bebas-lg-texto;
        color: black;
    }
    &__parrafo-1{
        @include montserrat-sm-texto;
        line-height: 2rem;
    }
    &__parrafo-bold{
        @include bebas-xs;
        line-height: 4rem;
    }
    &__parrafo-bold-2{
        @include montserrat-texto-bold;
        line-height: 4rem;
    }
    &__parrafo-bold-mv{
        @include bebas-texto;
        line-height: 1rem;
    }
}

.descripcion__titulo{
    @include bebas-s;
    color: black;
}

.texto__dark{
    color: rgb(168, 168, 168) !important;
    font-weight: 400 !important;
}

.texto__darkTitle{
    color: rgb(255, 255, 255) !important;
    font-weight: 400 !important;
}

.texto__fondo{
    background: white;

}

.texto__fondo-dark{
    background: black;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 10px 0 0 #000, -10px 0 0 #000;
    box-decoration-break: clone;
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .hero{
        margin: 0 auto;

        &__parrafo-1{
            @include montserrat-texto;
            line-height: 3rem;
        }

        &__titulo{
            @include bebas-l;
            color: black;
        }
    
        &__subtitulo-2{
            @include bebas-lg-texto;
            color: black;
        }
    }
    
    .articulo{
        &__titulo{
            @include bebas-l;
            color: black;
        }
        &__parrafo-1{
            @include montserrat-sm-texto;
            line-height: 3rem;
        }
        &__parrafo-1-bold{
            @include montserrat-sm-texto-bold;
            line-height: 3rem;
        }
    }

    

    .modales{
        &__titulo{
            @include bebas-s;
            margin-bottom: 15px;
        }
        &__subtitulo{
            @include montserrat-xs;
            margin-bottom: 15px;
        }
        &__texto{
            @include montserrat-texto;
            line-height: 3rem;
        }
    }
}


// Large devices (desktops, less than 1200px)
@media (min-width: 1200px) {
    .hero{
        margin: 0 auto;

        &__texto-1{
            @include bebas-lg-2xl;
            font-size: 21.671826625387vh;
        }
        &__texto-2{
            @include bebas-lg-s;
            font-size: 6.191950464396285vh;
        }
        &__boton-1{
            @include bebas-lg-l;
            font-size: 13.415892672858616vh;
        }
        &__boton-2{
            @include bebas-lg-m;
            font-size: 9.803921568627452vh;
            margin: 6px 5px; 
        }
    }
}
