/*Familias de fuentes*/
$Bebas: 'Bebas Neue', cursive;
$Montserrat: 'Montserrat', sans-serif;

/*Tamaños de fuente*/
$titulo: 8rem;
$xx-large: 4rem;
$x-large: 3.5rem;
$large: 3rem;
$medium: 2.5rem;
$small: 2rem;
$x-small: 1.2rem; 

/*Peso de fuente*/
$font-regular: 400;