/*Familias de fuentes*/
$bebas: 'Bebas Neue', cursive;
$montserrat: 'Montserrat', sans-serif;

/*Paletas de colores*/
$color-secundario: #ffffff;
$color-primario: #000000;
$color-terciario: #343a40;

/*Tamaños de fuente*/
$xx-large: 14.757481940144478vh;
$x-large: 11.875rem;
$large: 9.375rem;
$medium: 7.1875rem;
$small: 5rem;
$x-small: 4rem;
$texto: 2rem;

/*Tamaños de fuente pantallas GRANDES*/
$lg-xx-large: 21rem;
$lg-x-large: 17rem;
$lg-large: 13rem;
$lg-medium: 9.5rem;
$lg-small: 6rem;
$lg-texto: 3.2rem;
$lg-subtitulo: 2.3rem;

/*Tamaños de fuente-MOVIL*/
$sm-xx-large: 6rem;
$sm-x-large: 5rem;
$sm-large: 4rem;
$sm-medium: 3rem;
$sm-small: 2rem;
$sm-texto: 1.8rem;


/*Peso de fuente*/
$font-regular: 400;
$font-bold: 600;