.body__articulo-dark{
    background-color: black;
}

.articulo__header{
    border: 45px solid black;
    border-right: 80px solid black;
}

.articulo__header{
    &-fondo{
        background: url(../../../assets/img/Graduadisimo-campeon-color.png) black;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    &-col{
        text-align: right;
    }
}

#panel__fijo-info{
    background: transparent
}

#articulo__info2{
    margin-top: 200%;
    background-color: red;
}

.articulo__info{
    &-row{
        height: 100vh;
    }

    &-datos{
        padding-bottom: 3%;
        padding-left: 3%;
    }

    &-datosTitulos{
        text-align: right;
    }
    

    &-datosContenedor{
        background-color: black;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

    &-contexto{
        background-color: black;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .articulo__header{
        border: 80px solid black;
        border-left: 120px solid black;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .articulo__header{
        border: 80px solid black;
        border-right: 120px solid black;
    }
}