//color fondos
.fondo__light{
    background-color: white;
}

.fondo__dark{
    background-color: black;
}

//corte de parrafo
.articulo__corteParrafo{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

//Composicion1

.composicion1{
    padding-top: 2%;
    padding-bottom: 2%;

    &__barraMenu{
        z-index: 1030;
        height: 50px;
        width: 100%;
        position: sticky;
        top: 0;
    }

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    //composicion1
    .composicion1{
        &-cuerpoArticulo{
            -moz-column-count: 2;
            -moz-column-gap: 10px;
            -webkit-column-count: 2;
            -webkit-column-gap: 10px;
            column-count: 2;
            column-gap: 10px;
            column-fill: auto;
        }
    }
}