//color fondos
.fondo__light{
    background-color: white;
}

.fondo__dark{
    background-color: black;
}

//corte de parrafo
.articulo__corteParrafo{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

//Composicion1

.composicion1{
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;

    &__barraMenu{
        z-index: 1000;
        height: 50px;
        width: 100%;
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
    }

}
