//paneles
#panel__fijo-info{
    background: transparent
}

#panel__contextoMovil{
    margin-top: 220%;
    background-color: black;
}

#primer__panel{
    margin-top: 0%;
}

.body__articulo-dark{
    background-color: black;
}

.articulo__header{
    border: 45px solid black;
    border-top: 60px solid black;
    border-right: 80px solid black;
}

.articulo__header{
    &-fondo{
        background: url('../../../assets/img/Graduadisimo-campeon-color.png') black;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    &-col{
        text-align: right;
    }
}

.articulo__info{
    
    &-barraMenu{
        z-index: 1030;
        height: 50px;
        width: 100%;
        position: sticky;
        top: 0;
    }
    
    &-row{
        height: 100vh;
    }

    &-datosContenedor{
        margin-bottom: 45px;
        margin-left: 45px;
        background-color: black;
        width: 200%;
    }

    &-datosTitulos{
        background-color: black;
        text-align: right;
        padding: 10px;
        padding-right: 0px;
    }

    &-datosRespuestas{
        background-color: black;
        padding: 10px;
    }
    

    &-datosContenedor{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &-contexto{
        background-color: black;
        margin-bottom: 80px;
        margin-right: 120px;
        height: 50vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    &-titulo{
        padding-top: 10px;
        padding-left: 15px;
    }
    &-parrafo{
        padding-top: 10px;
        padding-left: 15px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .articulo__header{
        border: 80px solid black;
        border-right: 120px solid black;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    #primer__panel{
        margin-top: 140%;
    }
    .articulo__info-datosContenedor{
        margin-left: 80px;
        margin-bottom: 80px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #primer__panel{
        margin-top: 80%;
    }
}