
//segundo panel de galeria
.panel__galeria{
    width: 100%;
    z-index: 1000;
}
#galeria{
    margin-top: 200%; 
    background: transparent;

    line-height: 0;

    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-count: 1;
    -moz-column-gap: 0px;
    column-count: 1;
    column-gap: 0px;

    & button{
        width: 100% !important;
        height:auto !important;
        transition:filter .2s
    }

    & img{
        width: 100% !important;
        height:auto !important;
        transition:filter .2s
    }
}


//header
.galeria__header{

    &-contenedor{
        text-align: center;
        padding-top: 20vh;
    }

    &-imagen{
        width: 30vh;
        height: 30vh;
        object-fit: cover;
    }
    
    &-titulo{
        @include bebas-xl;
        font-size: 9vh;
        color: white;
        margin-top: 10vh;
    }
}

//Elementos galeria 

.img__btn:hover {
    filter: brightness(1.5);
}

.modal-dialog{
    margin-top: 45%;
    max-width: 50%;
}

.modal__imagen{
    height: 100%;
    width: 210%;
}

.gallery__container{
    position: relative;
}


//descripcion
.descripcion__wrapper{
    position: absolute;
    bottom: 8%;
    left: 4%;
    opacity: 1;
}

.descripcion__bg{
    background-color: black;
    display: inline-block;
    white-space: nowrap;
    opacity: 0;
    //animation: descripcion__hover 0.5s ease forwards;
}

.descripcion__texto{
    padding: 30px 10px;
    opacity: 0;
    //animation: descripcion__hoverTexto 0.5s ease forwards;
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #galeria{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .modal-dialog{
        margin-top: 10%;
        max-width: 80%;
        pointer-events: auto;
    }
    
    .modal__imagen{
        height: 100%;
        width: 100%;
    }

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .galeria__header{

        &-contenedor{
            padding-top: 15vh;
        }
    
        &-imagen{
            width: 40vh;
            height: 40vh;
            object-fit: cover;
        }
        &-titulo{
            font-size: 10vh;
            margin-top: 5vh;
        }
    }

    #galeria{
        margin-top: 80%; 

        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
    .galeria__header{

        &-titulo{
            @include bebas-xl;
            font-size: 12vh;
            color: white;
            margin-top: 8vh;
        }
    }

    #galeria{
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }

    .modal-dialog{
        margin-top: 0;
        max-width: 50%;
    }
}