
//segundo panel de galeria
.panel__galeria{
    width: 100%;
    z-index: 1000;
}
#galeria{
    margin-top: 200%; 
    background: transparent;

    line-height: 0;

    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;

    & button{
        width: 100% !important;
        height:auto !important;
        transition:filter .2s
    }

    & img{
        width: 100% !important;
        height:auto !important;
        transition:filter .2s
    }
}


//header
.galeria__header{

    &-contenedor{
        text-align: center;
        padding-top: 20vh;
    }

    &-imagen{
        width: 30vh;
        height: 30vh;
        object-fit: cover;
    }
    
    &-titulo{
        @include bebas-xl;
        font-size: 9vh;
        color: white;
        margin-top: 10vh;
    }
}

//Elementos galeria 
.img__btn:hover {
    filter: brightness(1.5);
}


//descripcion
.gallery__container{
    position: relative;
}

.descripcion__wrapper{
    position: absolute;
    bottom: 8%;
    left: 4%;
    opacity: 1;
}

.descripcion__bg{
    background-color: black;
    display: inline-block;
    white-space: nowrap;
    opacity: 0;
    //animation: descripcion__hover 0.5s ease forwards;
}

.descripcion__texto{
    padding: 30px 10px;
    opacity: 0;
    //animation: descripcion__hoverTexto 0.5s ease forwards;
}


.modal__vertical-elemento{
    margin-left: auto;
    width: 100%;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .modal-header{
        top: 1%;
        right: 2%;
    }

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .galeria__header{

        &-contenedor{
            padding-top: 15vh;
        }
    
        &-imagen{
            width: 40vh;
            height: 40vh;
            object-fit: cover;
        }
        &-titulo{
            font-size: 10vh;
            margin-top: 5vh;
        }
    }

    #galeria{
        margin-top: 80%; 
    }

    .modal__vertical{
        width: 50%;
  
        &-elemento{
            margin-left: auto;
            width: auto;
            height: 100%;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
    .galeria__header{

        &-titulo{
            @include bebas-xl;
            font-size: 12vh;
            color: white;
            margin-top: 8vh;
        }
    }

}