.hero{
    height: 50vh;
    background-color: #ffffff;
    padding-top: 80px;
    margin: 0 0%;

    &__parrafo-2__container{
        margin-top: 20px;
        text-align: right;
    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .hero{
        margin: 0 auto;

        &__container{
            max-width: 90%;
        }
    }
}


// Large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {
    .hero{
        margin: 0 auto;

        &__container{
            max-width: 90%;
        }
    }
}