.header{
    background-image: url(../Img/Graduadisimo-campeon-color.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height:650px;
    margin-top: 50px;
    padding-top: 80px;
    text-align: right;
    color: #ffffff;
}

.header__contenido{
    margin-top: 25rem;

    &-titulo__fondo{
        background-color: #000000;
        display: inline-block;
        padding: 18px 8px 8px 8px;
        margin-right: 1rem;
    }

    &-titulo__texto{
        @include bebas-titulo;
    }

    &-subtitulo__texto{
        @include bebas-2xl;
    }
}


@media (min-width: 992px) {
    .header{
        height: 497px;
        margin-top: 0px;
        padding-top: 2px;
    }

    .header__contenido{
            margin-top: 9rem;

        &-titulo__texto{
            @include bebas-titulo;
        }

        &-subtitulo-texto{
            @include bebas-2xl;
        }
    }
}