#navegacion{
    z-index: 9999
}

.navegacion{
    will-change: opacity;
    mix-blend-mode: difference;
    background-color: white !important;
    filter: invert(100%);
    position: fixed;
    font-family: $bebas;
    font-size: 2rem;
    width: 100%;


    &__contenido{
        justify-content: flex-end;
    }
    &__logo{
        width: 100%;
        max-width: 76px;
    }
    &__logo-icono{
        mix-blend-mode: difference;
        height: auto;
        fill: white;
    }
    &__quiensoy{
        white-space: nowrap;
    }
}
.navegacion__contenido{
    a{
        mix-blend-mode: difference;
        color: white !important;
        &:hover{
            text-decoration: underline;
        }
    }
}

.navegacion__contacto{
    z-index: 9998;
    mix-blend-mode: difference;
    width: 100%;
    padding-right: 1%;
    position: fixed;
    top: 94vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: $bebas;
    font-size: 20px;

    a{
        color: white;
    }
}

