main{
    background-color: white;
}

#trabajos{
    margin-top: 200%;
}

.trabajos{
    background-color: black;

    &__container{
        padding-top: 20%;
        max-width: 100%;
        margin-bottom: 20;
    }

    &__boton{
        @include bebas-sm-xl;
        margin-left: 12%;
        margin-bottom:  40px;
    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .trabajos{
    
        &__boton{
            @include bebas-l;
            margin-bottom:  40px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #trabajos{
        margin-top: 80%;
    }
    
    .trabajos{
        &__container{
            padding-top: 10%;
        }

        &__boton{
            @include bebas-l;
            margin-bottom:  40px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .trabajos{
        &__container{
            padding-top: 10%;
        }
       // padding-top: 300px;
        //padding-bottom: 100px;
        &__boton{
            @include bebas-lg-l;
            margin-bottom:  40px;
        }
    }
}