

.sobremi__hero{
    background: url(../../../assets/img/Graduadisimo-campeon-color.png) white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100%;
}