
//CAMBIOS DE BOOTSTRAP

//Navbar
.navbar-toggler{
    border: none !important
}
//Navbar-Dropdown
.dropdown-menu{
    font-size: 2rem;
}
.dropdown-item:hover, .dropdown-item:focus{
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
}



